<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1>update</h1>
        <form role="form" th:action="@{/user/update}" method="post" enctype="multipart/form-data" required="required">
            <div>
                <input type="password" name="current" placeholder="Current Password">
            </div>
            <div>
                <input type="password" name="password" placeholder="New Password">
            </div>
            <div>
                <input type="password" name="confirm" placeholder="Confirm Password">
            </div>
            <div>
                <input type="submit" th:value="save">
                <input type="button" th:value="cancel" onclick="location.href='/board'">
            </div>
        </form>
    </div>
</th:block>
</html>